
ul.user-list {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 30px;
}

ul.user-list li {
    display: flex;
    flex-direction: column;
}

ul.user-list li header{
    width: 100%;
    height: 120px;
    background-size: cover;
    border-radius: 4px;
}

ul.user-list li strong {
    margin-top: 10px;
    font-size: 24px;
    color: #444;
}


ul.user-list li span {
    font-size: 15px;
    color: #999;

}
.single-user:hover{
    cursor: 'pointer';
    background-color: rgb(236, 236, 236);
}
.content{

    background: #fff;
    margin-bottom: 50px;
    border-radius: 4px;
    padding: 30px;
    border-collapse: collapse;
  }
  
  .content > p {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .content button.btn {
    margin-top: 10px;
    border: 0px;
    border-radius: 5px;
    width: auto;
    height: 42px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    background: #f05a5b;
    color: #fff;
    cursor: pointer;
  }
  .content button.btn:hover{
    background: #e14f50;
  }