.content{

    background: #fff;
    margin-bottom: 50px;
    border-radius: 4px;
    padding: 30px;
    border-collapse: collapse;
  }
  
  .content > p {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .content button.btn {
    margin-top: 10px;
    border: 0px;
    border-radius: 5px;
    width: auto;
    height: 42px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    background: #f05a5b;
    color: #fff;
    cursor: pointer;
  }
  .content button.btn:hover{
    background: #e14f50;
  }
